@import "src/assets/style/global.scss";

.feedback-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 255;
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--white);
  border-top-right-radius: 30px;
}
.open {
  width: 100%;
  border-top-right-radius: 0px;
}
.icons {
  color: var(--white);
  cursor: pointer;
}
