:root {
  --primary-color: #ed8515;
  --primary-color-light: rgba(239, 133, 21, 0.3);
  --light-gray: #f4f4f4;
  --white: white;
}

$theme-colors: (
  "primary": #ed8515,
  "danger": red,
);
$primary: #ed8515;
